$color-accent: #D01C19

$heading-font-family: "Tremplin", sans-serif
$body-font-family: "Sora", sans-serif

$header-background: none
$header-border-bottom-width: 0
$hero-background-color: none
$footer-background-color: none