$color-accent: #D01C19
$color-background: #FCF8F4

$heading-font-family: "Tremplin", sans-serif
$body-font-family: "ClashDisplay", sans-serif

$header-background: none
$header-border-bottom-width: 0
$hero-background-color: none
$footer-background-color: none